@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;600;700&family=Open+Sans&family=Roboto&family=Roboto+Slab:wght@300&display=swap");
body {
  border-radius: 10px;
  background: #FFF;
  border-radius: 10px;
  max-width: 1440px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 90px 74px 0px 76px;
  max-width: 1260px;
}
.header .header__logo {
  width: 201px;
  height: 40px;
  top: 90px;
  left: 76px;
  padding: 0px 0.39px 0px 0px;
}
.main .row__news .button, .header .button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 115px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--unnamed, #5222D0);
  text-decoration: none;
}
.main .row__news .button .button__text, .header .button .button__text {
  color: #FFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.main .row__news .button .button__icon, .header .button .button__icon {
  width: 14px;
  height: 14px;
  top: 10px;
  left: 87px;
}

.main .footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.main .footer__nav a {
  text-decoration: none;
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}

.main .main__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .main__box .main__row {
  display: flex;
  flex-direction: column;
  width: 440px;
  justify-content: center;
  align-items: center;
}
.main .main__box .main__row .main__img {
  width: 365px;
  height: 270px;
}
.main .main__box .main__row .main__text {
  width: 365px;
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.main .main__box .main__row .main__subtitle {
  width: 365px;
  height: 36px;
  margin: 23px 0px 23px 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  /* Все элементы на странице будут иметь ту ширину, которую указали (вклбчая в себя рамки, паддинги и внутренние отступы  */
}

.main {
  margin: 0px 76px 0px 76px;
}
.main .main__title {
  color: var(--unnamed, #000);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-left: 30px;
}
.main .row__news {
  background-color: var(--unnamed, #EC615B);
  color: #ffffff;
}
.main .row__news .form--mail {
  width: 323px;
  height: 50px;
  flex-shrink: 0;
  color: var(--unnamed, #000);
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  padding-left: 9px;
}
.main .row__news .button {
  width: 135px;
  height: 38px;
}
.main .footer__nav {
  width: 40%;
  padding: 20px 0px 0px 30px;
}/*# sourceMappingURL=vozmojnosty.css.map */